<?xml version="1.0"?>
<launch>

    <arg name="enable_physics_plugin" default="true"/>
    
    <!--  Physics params put he so they are forwarded to plugin and external node -->
    <arg name="fxy" default="10"/>
    <arg name="fz" default="50"/>
    <arg name="mz" default="0.1"/>
    <arg name="damping" default="0.5"/>
    <arg name="length" default="1"/>

    


    <include file="$(find dual_links_robot_gazebo)/launch/spawn_joint.launch">
        <arg name="joint_number" value="1"/>
        <arg name="x" value="-0.2"/>
    </include>

    <!--<group ns="joint1">
        <param name="robot_description" command="$(find xacro)/xacro $(find dual_links_robot_gazebo)/launch/joint1.sdf.xacro"/>
        <node name="spawner_joint" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -model joint1 -param robot_description -x 0 -y 0 -z 0 -R 0  -P 0 -Y 0"/>
    </group>-->


    <include file="$(find dual_links_robot_gazebo)/launch/spawn_joint.launch">
        <arg name="joint_number" value="2"/>
        <arg name="x" value="0.2"/>
    </include>

    <!-- Create robot description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find dual_links_robot_gazebo)/launch/distal_plate.sdf.xacro
           fxy:=$(arg fxy) fz:=$(arg fz) mz:=$(arg mz) damping:=$(arg damping) length:=$(arg length) enable_physics_plugin:=$(arg enable_physics_plugin)"/>

    <!-- spawn model inside Gazebo -->
    <node name="spawner" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -model distal_plate -param robot_description -x 0.0 -y 0.8 -z 0.0 -R 0  -P 0 -Y 0"/>


    <node name="dual_links_robot_solver" pkg="dual_links_robot_gazebo" type="dual_links_robot_physics_node" output="screen" respawn = "true" unless="$(arg enable_physics_plugin)">
        <param name="fxy" value="$(arg fxy)"/>
        <param name="fz" value="$(arg fz)"/>
        <param name="mz" value="$(arg mz)"/>
        <param name="damping" value="$(arg damping)"/>
        <param name="length" value="$(arg length)"/>
    </node>

</launch>
