<?xml version="1.0"?>
<sdf version="1.4" xmlns:xacro="http://www.ros.org/wiki/xacro">
<model name="joint">

    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- end-effector properties -->
    <xacro:property name="mass" value="1"/>
    <xacro:property name="x" value="0.05"/>
    <xacro:property name="y" value="0.05"/>
    <xacro:property name="z" value="0.1"/>

    <xacro:arg name="joint_number"  default="1"/>
    <xacro:arg name="delta_x"  default="0"/>
    <xacro:arg name="delta_y"  default="0"/>

    <link name="base_link"/>

    <link name="rev_joint1_body">
        <visual name="rev_joint1_visual">
            <plugin name="dual_links_robot_visual_plugin" filename="libdual_links_robot_visual_plugin.so">
                <radius>0.05</radius>
                <joint_number>$(arg joint_number)</joint_number>
            </plugin>
            <geometry>
                <cylinder>
                    <length>${z}</length>
                    <radius>${x/2}</radius>
                </cylinder>
            </geometry>
        </visual>
        <collision name="rev_joint1_collision">
            <geometry>
                <cylinder>
                    <length>${z}</length>
                    <radius>${x/2}</radius>
                </cylinder>
            </geometry>
        </collision>
        <inertial>
            <mass>${mass}</mass>
            <inertia>
                <ixx>${mass*(3*(x/2)**2 + z**2)/12}</ixx>
                <ixy>0</ixy>
                <ixz>0</ixz>
                <iyy>${mass*(3*(x/2)**2 + z**2)/12}</iyy>
                <iyz>0</iyz>
                <izz>${mass*((x/2)**2)/2}</izz>
            </inertia>
        </inertial>
    </link>

    <joint name="fixing" type="fixed">
        <parent>world</parent>
        <child>base_link</child>
    </joint>

    <joint name="rev_joint1" type="fixed">
        <parent>base_link</parent>
        <child>rev_joint1_body</child>
    </joint>

</model>
</sdf>
